:root {
    --color-primary: #0fa7ab;
    --color-secundary: #4b4b5a;
    --color-primary-mid: #05b8ba;
    --color-primary-ligth: #00c9c9;
    --color-secundary-light: #386a75;
}

*{
    margin: 0;
    padding: 0;
    
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-image: url("../image/fundo1.jpeg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}
/*
@media (max-width: 559px) {
    body {
        background-image: url("../image/fundo2.png");
    }

}
*/
 img {
    position: relative;
    margin-left: 40%; 
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100%;
}

@media (max-width: 500px) {
    img{
    position: relative;
    margin-left: 15%; 
    }
}

h1 {
    margin-top: -80px;
    margin-left: 40%;
    font-size: 35px;
    font-weight: bold;
    color: var(--color-secundary);
    text-align: center;
}

@media  (max-width: 559px) {
    h1{
        margin-left: 35%;
        font-size: 22px;
    }
}


@media (min-width: 560) and (max-width: 800px) {
    h1{
        margin: 0;
        font-size: 28px;
    }
}

h2 {
    margin: 20px;
    margin-left: 40%;
    font-size: 25px; 
    text-align: center;
    color: white;
}

@media (max-width: 800px) {
    h2{
        margin-left: 40%;
        font-size: 20px;
    }
}

button {
    margin: 30px;
    margin-left: 50%;    
    background-color: var(--color-primary-ligth);
    color: var(--color-secundary-light);
    width: 500px;
    height: 70px;
    font-size: 30px;
    border-radius: 50px;
    box-shadow: 0 0 20px white;
    font-weight: bold;
    text-transform: uppercase;    
}

@media  (max-width: 559px) {
    button {
        margin-top: -20px;
        margin-left: 12%;
        width: 300px;
        height: 49px;
        font-size: 18px;
        border-radius: 35px;
        box-shadow: 0 0 15px white;
        font-weight: bold;
        text-transform: uppercase;
    }
}

@media (min-width:560) and (max-width: 800px) {
    button {
        margin-left: 50%;
        width: 350px;
        height: 50px;
        font-size: 20px;
        border-radius: 35px;
        box-shadow: 0 0 15px white;
        font-weight: bold;
        text-transform: uppercase;
    }
}

/***********
  FOOTER
***********/  

.footer {
    margin-top: 20px;
    background-color: var(--color-secundary);
    color: var(--color-primary-ligth);
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

@media (max-width: 559px) {
    .footer {
        margin: 0;
        background-color: var(--color-secundary);
        color: var(--color-primary-ligth);
        padding: 10px;
        text-align: center;
        font-size: 10px;
    }
}

.footer ul {
    display: flex;
    justify-content: space-between;
}

.footer ul li {
    list-style: none;
    list-style-position: inside;
    justify-content: space-between;
}